* {
    margin: 0;
    padding: 0;
    align-items: center;

}

body {
    text-align: center;
}

.landing {
    width: 1600px;
    margin: 0 auto;
    
}
.flex-layout {
    margin-left: 220px;
    width: 973px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align:middle;
}
header {
    height: 80px;
    background-color: black;
    width: 1600px;
    display: flex;
    padding: 20px 50px;
}

.logo, .nav, .designed-by {
    display: inline-block;
    vertical-align:middle;
}
.logo {
    width: 82px;
    padding-right: 58px;
}

.logo a {
    text-decoration: none;
    color: #FFFFFF;
}
.logo h1 {
    border: 1.18841px solid #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
}
nav {
    float: right;
    line-height: 140%;
    color: #FFFFFF;
}

nav a {
    text-decoration: none;
}

 header li {
    list-style: none;
    display: inline-block;
    padding: 0 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;

 }

 #about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    /* orange */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
 }

 .designed-by {
margin-left: auto; }

 .designed-by a {

    text-decoration: none;
    height: 22px;
    line-height: 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
 }