* {
    margin: 0;
    padding: 0;
    align-items: center;
}

body {
    width: 1600px;
    text-align: center;
}

.landing {
    width: 1600px;
    margin: 0 auto;
    
}
.flex-layout {
    margin-left: 220px;
    width: 973px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
header {
    height: 80px;
    background-color: black;
    display: flex;
}

.logo, .nav, .designed-by {
    display: inline-block;
    vertical-align:middle;
}
.logo {
    width: 82px;
    padding-right: 58px;
}

.logo a {
    text-decoration: none;
    color: #FFFFFF;
}
.logo h1 {
    border: 1.18841px solid #FFFFFF;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
}
nav {
    float: right;
    line-height: 140%;
    color: #FFFFFF;
}

nav a {
    text-decoration: none;
}

 header li {
    list-style: none;
    display: inline-block;
    padding: 0 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    color: #FFFFFF;

 }

 #about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    /* orange */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
 }

 .designed-by {
    margin-left: auto; }

 .designed-by a {

    text-decoration: none;
    height: 22px;
    line-height: 22px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
 }

 .intro-page {
    background-color: black;
    height: 780px;
    position: relative;
    background-image: url(/assets/images/Giant\ Panda.png);
 }
.intro-text, .intro-circle {
    position: absolute;
}
.intro-text {
    width: 500.31px;
    height: 400px;
    padding-left: calc(50% - 500.31px/2 + 330.15px);
    padding-top: 166px;
}
 .intro-circle {
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    border-radius: 50%;

    /* orange */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
 }
 .intro-text h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 80px;

    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF
 }

 .yellow-text {
    color: yellow;
 }

 .orange-button {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;

    /* orange */
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: #FFFFFF;
 }
